@mixin useAnimation ($animationName) {
    animation: $animationName 1s ease-in-out infinite;
}

@keyframes variant_one {
    0% {
        background-color: #f2f2f2;
    }

    50% {
        background-color: #ebebeb;
    }

    100% {
        background-color: #f2f2f2;
    }
}

@keyframes variant_two {
    0% {
        background-color: #ebebeb;
    }

    50% {
        background-color: #f2f2f2;
    }

    100% {
        background-color: #ebebeb;
    }
}