@use "../../styles/animations.scss"as animations;
@use "../../styles/color-palette.scss"as *;



.skeleton {
    width: 350px;
    height: 500px;
    @include background-palette(white);
    border: 1px solid #f2f2f2;
    box-shadow: 0 1px 20px 5px #fff;
    border-radius: 12px;
    overflow: hidden;
    position: relative;



    &__image {
        width: 100%;
        height: 230px;
        @include background-palette(border);
        @include animations.useAnimation(variant_one);
    }

    &__title {
        width: 100%;
        height: 50px;
        margin-top: 10px;
        @include background-palette(border);
        @include animations.useAnimation(variant_two);

    }

    &__option {
        width: 100%;
        height: 50px;
        margin-top: 10px;
        @include background-palette(border);
        @include animations.useAnimation(variant_one);

    }

    &__button {
        width: 100%;
        height: 70px;
        position: absolute;
        bottom: 0;
        @include background-palette(border);
        @include animations.useAnimation(variant_two);

    }

}